<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="logo">
  <%= image_tag "admin/logo-admin.png" %>
</div>
<%= yield %>

<div class="copyright">
  2014 &copy; SuperSan. Todos los derechos reservados.
</div>
</body>
</html>