<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="logo">
  <img src="http://elsupersan.com/images/logo-ss.png" alt="SUPERSAN">
</div>
<%= yield %>

<hr>
<div class="copyright">
  2014 &copy; SuperSan. Todos los derechos reservados.
</div>
</body>
</html>